.navbar{
  z-index: 1000;
}

@media only screen and (max-width:575px){
.hero{
  &__container{
    max-width: 400px;
  }
  &__row{
    align-items: center;
  }
  &__desc{
    text-align: center;
    width: 400px;
    justify-content: center;
    align-items: center;
  }
  &__text{
    text-align: center;
  }
  &__btns{
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
  }
}
}
.position-absolute{
top: 15px;
right: 10px;
}